@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../Img/pexels-photo-577585.jpeg'), linear-gradient(to bottom, #ADB2B6, #ABAEB3);
    background-size: cover;
    background-repeat: no-repeat;
}

.h1_title {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 10px;
}

.form__main,
.delete {
    background: rgba(245, 245, 245, 0.1);
    padding-top: 15px;
    margin-top: 120px;
    width: 600px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.form__main label,
.form__main input,
.delete label,
.delete input {
    margin: 20px;
    /* display: block; */
    width: 80%;
    padding: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;

}

.form__main input {
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    background: transparent;

}

.form__main input:focus {
    border-bottom: 3px solid white;
    transition: .2s ease-in;
}

#submit {
    padding: 10px 12px;
    font-size: 16px;
    margin: 20px 40%;
    text-align: center;

}

#postForm {
    display: none;
}

#getForm {
    display: none;
}

#putForm {
    display: none;
    width: 600px;
}

#getId {
    color: white;
}

#id3 {
    color: white;
}

#deleteForm {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: transparent;
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    -webkit-box-shadow: 3px 6px 8px 0px rgba(171, 171, 171, .1);
    -moz-box-shadow: 3px 6px 8px 0px rgba(171, 171, 171, .1);
    box-shadow: 3px 6px 8px 0px rgba(171, 171, 171, .1);
}

button:hover {
    /* background: rgba(0, 0, 0, 0.2);
    background: whitesmoke;
    border: none;
    mix-blend-mode: overlay; */
}



.get_container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get_container input {
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    background: transparent;
}

.get_container input:focus {
    border-bottom: 3px solid white;
    /* transition: .2s ease-in; */
}

.get_data {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get_data h3,
.get_data img {
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;

}

.profile_img {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid whitesmoke;
}

.form_output {
    background: rgba(245, 245, 245, 0.1);
    /* padding-top: 15px; */
    margin-top: 50px;
    width: 600px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.form_output input {
    /* display: block; */
    width: 10%;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
}

.form_update {
    background: rgba(245, 245, 245, 0.1);
    /* padding-top: 15px; */
    margin-top: 150px;
    width: 750px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
}

.form_update input {
    width: 20%;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
}

.put_data {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.put_data input {
    color: white;

}

.put_data input {
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    background: transparent;
}